/* General Page */
body{
  background-color: #F5F5F5;
}

/* NavBar */
#navBar{
  background-color:black;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 35px;
  border-bottom: 3px solid;
}

.link{
  position: relative;
  display: flex;
  top: 15px;
  text-decoration: none;
  color: whitesmoke;
  margin: 0px 5px;
  margin-bottom: 0%;
  padding-bottom: 0%;
  font-size: 24px;
  font-family: serif;
}

#goals{
  display: flex;
  position: relative;
  left: 30vw;
  text-decoration: none;
  color: whitesmoke;
  margin: 0px 5px;
  margin-bottom: 0%;
  padding-bottom: 0%;
  font-size: 24px;
  font-family: serif; 
}

/* Headings */
.pageTitle{
  position: absolute;
  top: 50px;
  font-size: 40px;
}

#homePageTitle{
  left: 32%;
}

#searchPageTitle{
  left: 41.5%;
}

/* Forms */
.searchStuff{
  position: relative;
  top: -200px;
  left: 10px;
}
.searchBox{
  position: relative;
  top: 0px;
  left: -10px;
  width: 200px;
  height: 30px;
  font-size: 24px;
  margin-bottom: 0px;
}

#dropDown{
  position: relative;
  top: -50px;
}

#searchResults{
  position: relative;
  top: 100px;
}
.submitBtn{
  position: relative;
  top: -36.5px;
  left: 13.5vw;
}

/* Display on Home */
#displayContainer{
  position: relative;
  top: 50px;
  left: 335px;
  width: 200px;
  height: 200px;
}

.display{
  position: relative;
  width: 150px;
  height: 150px;
  background-color: white;
  border: 6px solid;
}


#cal{
  top: 50px;
  left: 25px;
  background-color: white;
}

#protein{
  top: -128px;
  left: 210px;
  background-color: white;
}


#fat{
  top: -484px;
  left: 583px;
  background-color: white;
}

#carb{
  top: -306px;
  left: 400px;
  background-color: white;
}

.macroText{
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 30px;
}

#pyramid {
  position: relative;
  top: 10vw;
  left: 33%;
  height: 30vw;
  width: 40vw;
}

#searchBar{
  position: relative;
  right: 0px;
}


/* Empty SearchCard */
.cardContainer{
  position: relative;
  top: 20vw;
  left: 5vw;
  display: flex;
  flex-direction: row;
}

.individualResult{
 flex-basis:30px 
}

#instructions{
  position: absolute;
  top: 50px;
  left: 60px;
  font-size: 36px;
}

/* Search Results */
#nutrientList{
  position: absolute;
  top: 40px;
  left: 5px;
  font-size: 31.5px;
  padding-top: 0px;
  font-family: sans-serif;

}

#serving{
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 14px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

#addFood{
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 14px;
  height: 50px;
  width: 100px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#foodName{
  font-weight: bold;
}

#resultsGroup{
  margin-left:  100px;
  margin-right: 100px;
}

#macroImage{
  position: relative;
  top: 10vw;
  left: 20vw;
  height: 100px;
  width: 100px;
}

/* Log */
.log{
  position: relative;
  top: 100px;
}

.deleteButton{
  position: relative;
  left: 10px;
  top: 10px;
}

/* EmptyLog */
#eat{
  position: relative;
  top: 120px;
  left: 300px;
  width: 700px;
  height: 350px;
  font-size: 28px;
  padding-left: 15%;
}

#emptLogMessage{
  position: relative;
  left: 50px;
}

#eatSomething{
  position: relative;
  left: 34px;
}

/* MacCalc */
.macCalc{
  position: relative;
  left: 30vw;
  top: 10vw;
  width: 39vw;
  border-style: groove;
}

/* Add Card */
.addCard{
  position: relative;
  top: 100px;
  left: 500px;
}

/* Add Food */
#addFoodBox{
  position: relative;
  top: 50px;
  width: 40%;
  left: 25%;
  top: 10vw;
}

.logTitle{
  position: absolute;
  top: 90px;
  left: 36%;
  font-size: 48px;
}
